body{
	margin:5%;
	font-family: Work Sans;
	font-size: 1.8rem;	
	color: white;
}
div{
	width: 100%;
	height: 100%;
	border-radius: 9%;
}
div p {
	margin-top: 35%;
	margin-left: 12%;
	margin-right: 20%;
	}
div a{
	color: white;
	text-decoration: none;
}

.div9 > p  {	margin-top: 84%;	}
.div10 > p {	margin: 6% 0 0 12%;     }

.div1 > p  {
	margin: 30% 0% 0% 0%; 
	text-align: center;  
}

.div2 > p  {
		margin-top: 75%;
		font-size: 2rem;	
}

.bgCinza{		
	background-color: #E2E2E2;		
	color: black;
	}
	.bgCinza a {	color: black;}
	.bgCinza > .icon{
		background-color: #B45ECD;
		color: #E2E2E2;
	}

.bgCiano {		
	background-color: #4CBED1;		
	}

.bgRoxo{		
	background-color: #B45ECD;		
	}
	.bgRoxo > .icon{
		background-color: white;
		color: #B45ECD;
	}

.bgIMG{		
	background-color: black;		
	}
	.bgIMG > .icon{
		background-color: #4CBED1;
		color: white;
	}

.material-symbols-outlined {
	float: right;
	margin-right: 15%;
	font-variation-settings:'wght' 250
}

.icon{
	margin: 6%;
	background-color:black;
	border-radius: 100%;
	width: 9%;
	text-align: center;
	float: right;
	font-weight: bold
}

/* Transition*/

/* property */
.div2 {
	transition-property: text;
  }
.div2:hover {	text-decoration: wavy underline;	}

/* delay */
.div1{
transition: background-color, 8s;
}
.div1:hover {	background-color: black;	}
.div1:hover > p {	color: #E2E2E2;  }

/* duration */
.div6 {
	transition-duration: 10s;
  }
.div6:hover {	width: 50%;		}
.div6:hover > .icon {	background-color: #E2E2E2;  }

  /*function */
  .div8 {
	transition: all 2s;
  	transition-timing-function: ease-in-out;
  }
.div8:hover {	width:830px;	border-radius: 0%; position: relative;	}
.div8:hover > .icon{	background-color: #E2E2E2;  }
.div8:hover > p {	margin: 20%; }

  /*Transition Misturadas*/
#item1:hover, #item2:hover, #item3:hover{
	font-size:110% ; 
    transition: font-size, 0.2s, 0.2s;
}

  .div9 {
	transition-property: color,box-shadow, transform;
	transition-duration: 350ms;
	transition-timing-function: ease;
  
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24)
  }
.div9:hover {	
	box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
 	 transform: translateY(-8px);
	background: linear-gradient(#B45ECD, #4CBED1);	
}

  .div4{
	transition: color, 2s, 2s;
  }

  .div4:hover { background-color: #B45ECD;	}

  .div4:hover p {
	font-weight: bold;
	margin-top: 5%;
	color: white;
  }
  .div4:hover .lista {
	display: block;
  }
  
  .lista {
	position:relative;
	background-color: #E2E2E2;
	display: none;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
  }
  
.lista li{
	list-style: none;
	margin: 3%;
}


.zen-garden *{
	color: black;
}

.zen-garden p{
	margin: 2%;
}

.zen-garden div{
	position: static;
	height: 90%;
}

.zen-garden footer {
    background-color: #E2E2E2;
    height: 40px;
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
	text-align: center;
}

.zen-garden a{
	color: #4CBED1;
	text-decoration: none;
	font-weight: 900;
}